{% extends "base.html" %}
{% load static %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container py-0">
    <div class=" row hero-section">
        <div class="col-12">
            <!--<div class="container-fluid p-0">
                <img src="{{ MEDIA_URL }}hero.jpg" class="img-fluid w-100" alt="" srcset="">
            </div>-->
            <h2 class="text-capitalize text-black display-4-mobile" >Embrace Yourself</h2>
            <h1 class="text-uppercase2 py-2 fw-bold text-black display-3-mobile">New Discoveries</h1>
            <div class="my-5">
                <h4>
                    <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 bg-dark">Shop Now</a>
                </h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}
