{% extends 'base.html' %}

{% block content %}
<div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <h2 class="text-center my-5">Add Your Testimonial</h2>
                <hr>
            </div>
        </div>
        <div class="row justify-content-center ">
            <div class="col-11 col-md-8 col-lg-6 mt-3 bordered-form">
                <form method="post">
                    {% csrf_token %}
                    {{ form | crispy }}  
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-black text-white">Submit</button>
                        <a href="{% url 'testimonials' %}" class="btn  btn-black text-white">Back to Testimonials</a>
                    </div>
                </form>
            </div>
        </div>

{% endblock %}