<ul class="navbar-nav ms-auto">
    <li class="nav-item dropdown mr-2">
      <a
        class="nav-link dropdown-toggle my_account_padding"
        href="#"
        id="navbarDropdown"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
      <i class="fa-solid fa-user"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="user-options">
        {% if request.user.is_authenticated %} 
        {% if request.user.is_superuser %}
        <a href="{% url 'account_logout' %}" class="dropdown-item">Admin</a>
        {% endif %}
        <a href="" class="dropdown-item">My Profile</a>
        <div class="dropdown-divider"></div>
        <a href="{% url 'account_logout' %}" class="dropdown-item"
          >Logout</a
        >
        {% else %}
        <a href="{% url 'account_signup' %}" class="dropdown-item"
          >Register</a
        >
        <a href="{% url 'account_login' %}" class="dropdown-item"
          >Login</a
        >
        {% endif %}
      </div>
    </li>
    <li class="nav-item mr-4">
      <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'shopping_bag'%}">
        <div class="text-center">
          <p class="my-0" style="color: #ffc107;">
            {% if grand_total %}
                €{{ grand_total|floatformat:2 }} 
            {% else %}
            <i class="fa-solid fa-cart-shopping"></i>€0.00 
            {% endif %}
          </p>
        </div>
      </a>
    </li>
  </ul>