

html{
    height:100%;
}

body{
    background: url("/media/hero.jpg")no-repeat center center fixed;
    background-size: cover;
    width:100%;
    height:calc(100vh-164px);
    color:#555;
    font-family:'Arima',sans-serif;
    display:flex;
    flex-direction:column;
    padding-top: 70px;
}
/*header*/
.navbar{
    position:fixed;
    padding:2em;
    height:5em;
}
.nav-link:hover{
    color:rgb(255, 255, 255)!important;
}
.logo{
    transform:translateY(-2px);
}

.navlink-background{
    background-color: #343a40;
}

.search-container {
    margin-top: 15px; /* Adjust based on your layout */
}

.search-input {
    width: 70%; /* Ensures the search input takes full width */
}

.btn {
    flex-shrink: 0; /* Prevents button from shrinking */
}

main {
    flex: 1; /* Allow main to take up available space */
}
/*index-page*/
/*carousel*/
.hero-section {
    position: relative;
    width: 100%;
    height: 80vh; /* Takes the full height of the viewport */
    overflow: hidden;
    margin-left:0;
}

.hero-section img {
    width: 100%; /* Ensures full width */
    height: auto; /* Ensures full height */
    object-fit: cover;
    position:relative;
}

.hero-section h2, 
.hero-section h1, 
.hero-section .shop-now-button {
    position: absolute;
    color: #fff; /* White text for contrast */
}

.hero-section h2 {
    top: 20%; /* Positioning the elements in the center */
    font-size: 2rem;
}

.hero-section h1 {
    top: 30%;
    font-size: 3rem;
}

.hero-section .shop-now-button {
    top: 40%;
}


.dropdown-submenu {
    position: relative;
}
  
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%; 
    margin-top: -1px; 
    display: none; 
    position: absolute; 
}
  
.dropdown-submenu:hover .dropdown-menu {
    display: block; 
}
.dropdown-item {
    cursor: pointer;
}

.dropdown-item i:hover {
    background-color: #000000;
}
.dropdown-item:focus, .dropdown-item.active {
    background-color: #ffffff; 
    color: #000; 
    outline: none; 
}

/*all products page*/

.overlay{
    height:100%;
    width:100%;
    top:0;
    left:0;
    position:fixed;
    background:#fff;
    z-index:-1;
}

.card-img-top{
    width:100%;
    height:200px;
    object-fit:cover;
}

a.category-badge > span.badge:hover{
    background :#ffc107 !important;
    color:#000000;
}

/*product detail page"*/

.product-detail-container{
    width:100%;
    height:100%;
     
 }
 .product-detail-image {
    width:70%;
    height: 30vw;
    object-fit: cover;
    min-height: 100px
}

.product-description {
    
}

.quantity-form{
    margin-left:-18rem;
    width:100%;
}
.btn-black{
    color:#ffffff;
    background-color:black
}
.btn-outline-black{
    background:white;
    color:black !important;
    border: 1px solid black;
}

/*quantity input button*/

.btn-outline-black{
    background:white;
    color:black !important;
    border: 1px solid black;
}
.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus{
    background:black;
    color:white !important
}


.product-name,
.product-price,
.category-badge,
.product-rating,
.product-description,
.dispatch-detail
{
    margin-top:20px;
    margin-left:-18rem;
}



/*add arrow to top of the page*/
.btt-button {
    position: fixed;  /* Fixes the button on the page */
    right: 20px;  /* Positions the button 20px from the right side of the page */
    bottom: 20px;  /* Positions the button 20px from the bottom of the page */
    z-index: 1000;  /* Ensures the button stays on top of other elements */
    background-color: #f1f1f1;  /* Light background color */
    border-radius: 50%;  /* Circular button */
    padding: 10px;  /* Padding inside the button */
    display: none;  /* Initially hide the button */
}

.btt-button a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: #f1f1f1;  /* Background of the button */
    color: #333;  /* Icon color */
    text-decoration: none;
    border-radius: 50%;  /* Circular shape */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Subtle shadow */
    transition: background-color 0.3s ease;  /* Smooth transition effect */
}

.btt-button a:hover {
    background-color: #555;  /* Darker background on hover */
    color: #fff;  /* Change icon color on hover */
}

/* Optional: Show the button when user scrolls down a bit */
.btt-button.show {
    display: block;
}

/*shopping bag page*/
.update-delete-btns{
    cursor:pointer;
    z-index:5000;
    color:#ffc107;
}

.update-delete-btns span{
    color:#000000;
}

.update-delete-btns a{
    color:#f8f9fa;
}

input[name='search_term']::placeholder{
    color:#aab7c4;
}

/*message container */

/*.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}*/

.custom-toast {
    position: fixed;
    top: px;
    right: 1px;
    left:px;
    width: 450px;
    z-index: 1050;
    margin-right:50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 0.3s ease-in-out;
}

.custom-toast .toast-header {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.custom-toast .toast-header strong {
    font-size: 16px;
    color: #000000;
} 

.custom-toast .toast-header .close:hover {
    opacity: 1;
}
.custom-toast .toast-body {
    background-color: #fff;
    padding: 15px;
    color: #333;
    font-size: 14px;
}

.toast-body .shopping-bag-notification-wrapper .row {
    align-items: center;
    padding: 5px 0;
}

.toast-body .btn-outline-dark {
    color: #000000;
    border-color: #000000;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
}

.arrow-up{
    width:0;
    height:0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position :absolute;
    top : -10px;
    right: 36px;
}

.arrow-primary{
    border-bottom-color: #007bff !important;
}

.arrow-secondary{
    border-bottom-color: #6c757d !important;
}

.arrow-success{
    border-bottom-color: #28a745 !important;
}

.arrow-danger{
    border-bottom-color: #dc3545 !important;
}

.arrow-warning{
    border-bottom-color: #ffc107 !important;
}

.arrow-info{
    border-bottom-color: #17a2b8 !important;
}

.arrow-light{
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark{
    border-bottom-color: #343a40 !important;
}

.shopping-bag-notification-wrapper{
    height:100px;
    overflow-x:hidden;
    overflow-y:auto;

}

/* Allauth form */

.allauth-form-inner-content p{
    margin-top:1.5rem; /*mt-4*/
    color:#6c757d;
}

.allauth-form-inner-content input{
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']){
    display: none;
}
.allauth-form-inner-content input:placeholder {
    color:#aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* Product Form*/

.btn-file{
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"]{
    position: absolute;
    top:0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;

}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color:  #dc3545;
    border-color: #dc3545;
    border-radius: 0;
    
}


/*footer*/

footer {
    background-color: #343a40; /* Dark background */
    color: #f8f9fa; /* Light text */
  }
  
  footer a {
    color: #ffc107; /* Accent color for links */
  }
  
  footer a:hover {
    color: #f8f9fa; /* Light color on hover */
  }
  footer {
    width: 105%; 
  }

  footer .container{
    padding:20px;
    padding-right: 0;
  }

  footer .row {
    margin: 20px;
    margin-right: 0;
  }


  /* Malchimp Css*/

  #mc_embed_signup{
    background:false;
    clear:left; 
    font:14px ; 
  }
    .footer-email{
        width:300px;
        font:14px; 
    }

 .mc-subscribe{
    background-color:#ffc107;
 }
  /*--------------------- media query*/
@media (min-width: 350px) and (max-width: 576px) { 
    
    .hero-section h1 {
        font-size: 2rem;
    } 
    .search-container{
        width:50%;
        margin-left:7rem;
        margin-top:rem;
        
    }
    .hero-section {
        padding: 20px 10px;
    }

    .display-4-mobile {
        font-size: 2.2rem; /* Bigger text for h2 on mobile */
    }

    .display-3-mobile {
        font-size: 2.6rem; /* Bigger text for h1 on mobile */
    }

    .shop-now-button {
        font-size: 1.2rem;
        padding: 15px 20px;
    }
    footer {
        text-align:left ; 
    }
    
    .footer-links a {
        margin-bottom: 10px;
    }
    #mc_embed_signup{
        width: 300px;
      }
    
}

@media (min-width: 578px) and (max-width: 992px){
    .search-container{
        width:60%;
        margin-left:10rem;
    }

    .navbar-nav .nav-item {
        margin-right: 1rem; 
        padding: 0.5rem; 
    }
    .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .dropdown-menu {
        position: static; 
        display: none; 
        width: 100%; 
        margin-top: 0.5rem; 
        overflow: visible; 
        z-index: 1050; 
    }

    .dropdown.show .dropdown-menu {
        display: block; /* Show the dropdown when active */
    }

    /* Make sure the dropdown is not clipped */
    .dropdown-menu {
        overflow: visible;
    }
}

@media (max-width: 576px) {
    /* Mobile-specific styles */
    .product-detail-image {
    width:100%;
    height:70vw;
    margin-top:0.2rem;
}
    .product-name,
    .product-price,
    .category-badge,
    .product-rating,
    .product-description,
    .dispatch-detail
    {
        margin-bottom:2rem;
        margin-left:2rem;
    }
    .quantity-form{
    margin-left:2rem;
    width:100%;
}
}
/*@media (max-width: 992px) { /* Adjust the max-width for specific screen sizes */
    /*.navbar .form-control {
        width: 150px; /* Adjust width as needed */
        /*height: 30px; /* Adjust height as needed */
        /*font-size: 0.9rem; /* Adjust font size if needed */
    /*}
}*/
@media (min-width: 768px) and (max-width: 991px) {
    /* Tablet-specific styles */
    .product-detail-image {
        width:100%;
        height:90vw;
    }
    .product-name,
    .product-price,
    .category-badge,
    .product-rating,
    .product-description,
    .dispatch-detail
    {
        margin-bottom:2rem;
        margin-left:-3rem;
    }

    .quantity-form{
    margin-left:-3rem;
    width:100%;
}
}

@media (max-width: 992px) {

.navbar-nav .nav-item .nav-link{
    color:#fff;
}

.navbar-nav .nav-item{
    padding: 5px 0;
}
}

@media (min-width: 992px) and (max-width: 1199px) {
    /* Laptop-specific styles */
    .product-detail-image {
    width:100%;
    height:60vw;
}
        .product-name,
    .product-price,
    .category-badge,
    .product-rating,
    .product-description,
    .dispatch-detail
    {
        margin-top:px;
        margin-left:-3rem;
    }

    .quantity-form{
    margin-left:-3rem;
    width:100%;
}
}

@media (min-width: 1200px) {
    /* Desktop-specific styles */
 .product-detail-image {
    width:70%;
    height: 50vw;
    object-fit: cover;
    min-height: 100px
}

}