html{
    height:100%;
}

body{
    background: url("/media/hero.webp")no-repeat center center fixed;
    background-size: cover;
    width:100%;
    height:calc(100vh - 164px);
    color:#555;
    font-family:'Arima',sans-serif;
    display:flex;
    flex-direction:column;
    padding-top: 70px;
}
.custom-header {
    margin-top: -80px; /*move it up */
}
    
/*--------------------------------------------------------------------header*/
.navbar{
    position:fixed;
    padding:2em;
    height:5em;
}
.nav-link:hover{
    color:rgb(255, 255, 255)!important;
}
.logo{
    transform:translateY(-2px);
}

.navlink-background{
    background-color: #343a40;
}

.search-container {
    margin-top: 15px; 
}

.search-input {
    width: 50%; /* Ensures the search input takes full width */
}

.btn {
    flex-shrink: 0; /* Prevents button from shrinking */
}

main {
    flex: 1; /* Allow main to take up available space */
}
/*----------------------------------------------------------------------carousel*/
.hero-section {
    position: relative;
    width: 100%;
    height: 80vh; /* Takes the full height of the viewport */
    overflow: hidden;
    margin-left:0;
}

.hero-section img {
    width: 100%; /* Ensures full width */
    height: auto; /* Ensures full height */
    object-fit: cover;
    position:relative;
}

.hero-section h2, 
.hero-section h1, 
.hero-section .shop-now-button {
    position: absolute;
    color: #fff; /* White text for contrast */
}

.hero-section h2 {
    top: 20%; /* Positioning the elements in the center */
    font-size: 2rem;
}

.hero-section h1 {
    top: 30%;
    font-size: 3rem;
}

.hero-section .shop-now-button {
    top: 40%;
}

#delivery-banner{
    width: 105%;
    margin: 0;
    padding: 0;
}

.dropdown-submenu {
    position: relative;
}
  
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%; 
    margin-top: -1px; 
    display: none; 
    position: absolute; 
} 
.dropdown-submenu:hover .dropdown-menu {
    display: block; 
}
.dropdown-item {
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: #343a40;
    color:#fff;
}
.dropdown-item:focus, .dropdown-item.active {
    background-color: #ffffff; 
    color: #000; 
    outline: none; 
}

/*---------------------------------------------------------------------all products page*/

.card-footer {
    margin-top: 0; 
}
.card {
   width:300px; /* Card size changed for mobile devices" */
   height:300px;
}

.overlay{
    height:100%;
    width:100%;
    top:0;
    left:0;
    position:fixed;
    background:#fff;
    z-index:-1;
}
.card-img-top{
    width:100%;
    height:200px;
    object-fit:cover;
}

a.category-badge > span.badge:hover{
    background :#ffc107 !important;
    color:#000000;
}
.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

/*-----------------------------------------------------------product detail page"*/
.wishlist-icon{
    background:none;
    border:none;
    color:red;
    font-size:1.5rem;
}
.wishlist-icon:hover{
    background:none;
    color:#000;
}

.product-detail-container{
    width:100%;
    height:100%;
     
 }
 .product-detail-image {
    width:100%;
    height: 30vw;
    object-fit: cover;
    min-height: 100px
}
.quantity-form{
    margin-left:-18rem;
    width:100%;
}
.btn-dark {
    background-color: #343a40; 
    color: #ffffff; 
    border: 1px solid #343a40; 
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.btn-dark:hover {
    background-color: #ffffff; /* Darker shade on hover */
    color: #000000; /* Slightly lighter text */
    border: 1px solid #212529; 
}
.btn-black{
    color:#ffffff;
    background-color:black
}
.btn-outline-black{
    background:white;
    color:black !important;
    border: 1px solid black;
}

/*quantity input button*/
.input-group {
    display: flex;
     align-items: center;
     border: 1px solid #f2f2f2; 
     border-radius: 4px; /* Rounded edges */
     overflow: hidden; /* Ensure no overflow from rounded corners */
 }

 .input-group .form-control {
    border: 1px solid #f2f2f2;
    font-size: 1rem; 
    text-align: center; /* Center-align the quantity */
    width: 50px; /* Fixed width for consistency */
}
 
.btn-outline-black{
    background:white;
    color:black !important;
    border: 1px solid black;
}
.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus{
    background:black;
    color:white !important
}
/*add arrow to top of the page*/
.btt-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px; 
    height: 50px;
    background-color: #aab7c4; 
    border-radius: 50%; /* Circular shape */
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    cursor: pointer;
    z-index: 1000; /* Ensures it's on top of other elements */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth hover animation */
}

.btt-button:hover {
    background-color: #555;
    color: #fff;  
}

/*Show the button when user scrolls down a bit */
.btt-button.show {
    display: block;
}

.border-line {
    border: 1px groove black !important;
}

.bordered-form {
    border-radius: 8px; 
    padding: 20px; 
    background-color: #f0f0f0; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    margin-bottom:20px;
}
/*----------------------------------------------------------shopping bag page*/
.update-delete-btns{
    background: transparent;  
    border: none;      
    cursor:pointer;
    z-index:5000;
}

.update-delete-btns span{
    color:#000000;
}

.update-delete-btns a{
    color:#f8f9fa;
}

input[name='search_term']::placeholder{
    color:#aab7c4;
}

.signup,.login{
    padding: 2rem; /*spacing inside the container */
    border-radius: 10px; /* Rounded corners for a modern look */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); 
}
.login{
    padding-bottom:4rem;
    padding-top:4rem;
}

.signup textarea,
.signup select,
.signup button,
.login textarea,
.login select,
.login button ,
.login a{
    margin-bottom: 1.5rem; /* Same spacing as inputs */
}
.invalid-feedback {
    color: rgb(202, 91, 91) !important; 
}
.alert ul {
    list-style-type: none; 
    margin: 0;             
    padding: 0;            
}

.alert ul li {
    padding-left: 0;       
    margin-left: 0;      
}
.signup label{
    color:#000;
}

.login button,
.login a {
    margin-right: 1.5rem; /* Horizontal spacing between buttons */
}

/*------------------------------------------------------------Testimonial page*/

.testimonial-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px; /* Space between testimonials */
    margin-top: 20px;
  }

  .testimonial-block {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0); /* Subtle shadow */
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .testimonial-block:hover {
    transform: translateY(-5px); /* Lift effect on hover */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
  }
  
.custom-toast {
    position: fixed;
    right: 1px;
    width: 450px;
    z-index: 1050;
    margin-right:50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: fadeInUp 0.3s ease-in-out;
}

.custom-toast .toast-header {
    display: flex;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.custom-toast .toast-header strong {
    font-size: 16px;
    color: #000000;
} 

.custom-toast .toast-header .close:hover {
    opacity: 1;
}
.custom-toast .toast-body {
    background-color: #fff;
    padding: 15px;
    color: #333;
    font-size: 14px;
}

.toast-body .shopping-bag-notification-wrapper .row {
    align-items: center;
    padding: 5px 0;
}

.toast-body .btn-outline-dark {
    color: #000000;
    border-color: #000000;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
}

.arrow-up{
    width:0;
    height:0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position :absolute;
    top : -10px;
    right: 36px;
}

/*---------------------------------------------------------toast messages arrow*/
.arrow-primary{
    border-bottom-color: #007bff !important;
}

.arrow-secondary{
    border-bottom-color: #6c757d !important;
}

.arrow-success{
    border-bottom-color: #28a745 !important;
}

.arrow-danger{
    border-bottom-color: #dc3545 !important;
}

.arrow-warning{
    border-bottom-color: #ffc107 !important;
}

.arrow-info{
    border-bottom-color: #17a2b8 !important;
}

.arrow-light{
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark{
    border-bottom-color: #343a40 !important;
}

.shopping-bag-notification-wrapper{
    height:100px;
    overflow-x:hidden;
    overflow-y:auto;

}
/*---------------------------------------------------------------------- Allauth form */
.form-check-label {
    display: inline-block; 
    color: #000; 
}

.form-text li{
    display:none;
}

.allauth-form-inner-content p{
    margin-top:1.5rem; /*mt-4*/
    color:#6c757d;
}

.allauth-form-inner-content input{
    border-color: #000;
    border-radius: 0;
}
.allauth-form-inner-content label:not([for='id_remember']){
    display: none;
}
.allauth-form-inner-content input::placeholder {
    color:#aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}

/* --------------------------------------------------------------------------------------Product Form*/

.btn-file{
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"]{
    position: absolute;
    top:0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;

}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color:  #dc3545;
    border-color: #000000;
    border-radius: 0;
    
}
/*-------------------------------------------------------------------------------------footer*/

footer {
    background-color: #343a40; 
    color: #f8f9fa; 
  }
  
  footer a {
    color: #ffc107; /* Accent color for links */
  }
  
  footer a:hover {
    color: #f8f9fa; /* Light color on hover */
  }
  footer {
    position: relative; /* Ensure the footer stays relative to the page */
    bottom: 0; /* Push footer to the bottom if needed */ 
    margin-top: auto; 
    width: 105%; 
  }

  footer .container{
    padding:20px;
    padding-right: 0;
  }

  footer .row {
    margin: 20px;
    margin-left: 8rem;
  }
  /* Malchimp Css*/
  .btn-yellow{
    background-color: #ffc107;
    color:black;
    width:30%;
    height:40px;
  }
  .btn-yellow:hover{
    background-color: #343a40;
    color:white;
  }
  #mc_embed_signup{
    background-color:transparent;
    clear:left; 
    font:14px ; 
  }

  .footer-email{
    width:400px;
    font:14px; 
  }

 .mc-subscribe{
    background-color:#ffc107;
 }

 @media (min-width:280px)  {
    /*-------------------------samller screen*/
    .product-detail-image {
        width:100%;
        height:65vw;
        margin-top:0.2rem;
    }
    .footer-email{
        width:200px;
    }
    .dropdown-menu {
        position: static; 
        display: none; 
        margin-top: 0.5rem; 
        overflow: visible; 
        z-index: 1050; 
    }
  }

  /*--------------------- -----------------------media query*/
@media (min-width: 350px) and (max-width: 576px) { 
    /*----------------------------------------------------------modile specific*/
    .product-detail-image {
        width:100%;
        height:65vw;
        margin-top:0.2rem;
    }
    .dropdown-menu {
        position: static; 
        display: none; 
        margin-top: 0.5rem; 
        overflow: visible; 
        z-index: 1050; 
        color:#ffffff;
    }
    .dropdown-item:hover {
        background-color: #343a40;
        color:#fff;
    }
    .hero-section h1 {
        font-size: 2rem;
    } 
    .search-container{
        width:50%;
        margin-left:7rem;
    }
    .hero-section {
        padding: 20px 10px;
    }

    .decrement-qty-btn,.increment-qty-btn,.qty_btn{
        width:50px;
    }

    .btn-increment.disabled,
    .btn-decrement.disabled {
        opacity: 0.5; /* Fading effect */
        cursor: not-allowed;
    }

    .btn-increment,
    .btn-decrement {
        transition: opacity 0.3s ease;
    }

    .display-4-mobile {
        font-size: 2.2rem; /* Bigger text for h2 on mobile */
    }

    .display-3-mobile {
        font-size: 2.6rem; /* Bigger text for h1 on mobile */
    }

    .shop-now-button {
        font-size: 1.2rem;
        padding: 15px 20px;
    }
    footer {
        text-align:left ; 
    }
    
    .footer-links a {
        margin-bottom: 10px;
    }
    #mc_embed_signup{
        width: 300px;
      }

      .custom-toast {
        position: fixed;
        left: auto; /* Auto-adjust the left side to prevent it from being stuck at left */
        width: 300px; /* Default width */
        z-index: 1050;
        margin-right: 50px;
    }
    
}

@media (min-width: 578px) and (max-width: 992px){
    /*--------------------------------------------------modile specific styles*/
    .product-detail-image {
        width:100%;
        height:65vw;
        margin-top:0.2rem;
    }
    .search-container{
        width:60%;
        margin-left:10rem;
    }

    .navbar-nav .nav-item {
        margin-right: 1rem; 
        padding: 0.5rem; 
    }
    .nav-link {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .dropdown-menu {
        position: static; 
        display: none; 
        margin-top: 0.5rem; 
        overflow: visible; 
        z-index: 1050; 
    }
    .navbar-toggler {
        position: relative;
        z-index: 10; /* Ensure it is above other elements */
        margin-right: 15px; /* Add some spacing on the right to avoid cutoff */
        padding: 5px; /* Adjust padding to make the toggler easier to click */
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    /*------------------------------------------------- Tablet-specific styles */
    .product-detail-image {
        width:100%;
        height:75vw;
    }
    .footer {
        position: relative;
        bottom: 0;
        width: 100%;
    }
    .footer-email{
        width:200px;
    }
}

@media (max-width: 992px) {
    .display-4.logo-font.text-black {
        font-size: 2rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }
    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }

    .navbar-nav .nav-item .nav-link{
        color:#fff;
    }

    .navbar-nav .nav-item{
        padding: 5px 0;
    }
    .navbar-toggler {
        position: relative;
        z-index: 10; /* Ensure it is above other elements */
        margin-right: 15px; /* Add some spacing on the right to avoid cutoff */
        padding: 5px; /* Adjust padding to make the toggler easier to click */
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    /* ------------------------------------------------------------Laptop-specific styles */
    .product-detail-image {
    width:100%;
    height:50vw;
}

    .quantity-form{
    margin-left:-3rem;
    width:100%;
}
}

@media (min-width: 1200px) {
    /*-------------------------------------------------------------- Desktop-specific styles */
    .product-detail-image {
        width:100%;
        height:60vh;
        object-fit:cover;
        min-height:100px
    }
    footer {
        position: relative; 
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
    }
    
}

