<form class="form update-form" method="POST" action="{% url 'adjust_bag' item.item_id %}">
    {% csrf_token %} 
    <div class="form-group">
        <div class="input-group input-group-sm input-group-{{ item.item_id }}">
            <div class="input-group-prepend">
                <button type="button"  class="decrement-qty-btn btn btn-sm btn-black rounded-0 btn-decrement"  
                data-item_id="{{ item.item_id }}" 
                id="decrement-qty_{{ item.item_id }}" aria-label="Decrease Quantity">
                    <span>
                        <i class="fas fa-minus fa-sm"></i>   
                    </span>
                </button>
            </div>
            <input class="form-control form-control-sm text-center qty_input" type="number" name="quantity" 
                value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" 
                id="id_qty_{{ item.item_id }}">
            <div class="input-group-append"> 
                <button type="button"  class="increment-qty-btn btn btn-small btn-black rounded-0 btn-increment"  
                data-item_id="{{ item.item_id }}" id="increment-qty_{{item.item_id}}">
                    <span>
                        <i class="fas fa-plus fa-sm"></i>
                    </span>
                </button>
            </div>
        </div>
    </div>
</form>
<span class=" update-link btn py-2 px-2"><small><i class="fas fa-sync"></i></small></span>
<span class=" remove-item btn py-2 px-2 float-right remove_{{ item.item_id }}"><small><i
                class="fas fa-trash-alt"></i></small></span>
