{% load static %}

<footer class="bg-dark text-light py-4 w-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-md-4 mb-6 py-4 text-md-left">
        <h5 class="text-uppercase mb-3"><a href="{% url 'contact_us' %}" class="text-light">Contact Us</a></h5>
        <p>Email: support@wellnessnest.com</p>
        <p>Phone: +123 456 7890</p>
        <div class="mb-5">
          <a href="https://www.facebook.com/profile.php?id=61569624339589&sk=about" class="text-light mr-3" target="_blank"><i class="fab fa-facebook-f"></i></a>
          <a href="https://x.com/?lang=en" class="text-light mr-3" target="_blank"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/" class="text-light mr-3" target="_blank"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/" class="text-light" target="_blank"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="col-12 col-md-4 mb-4 py-4">
        <h5 class="text-uppercase mb-3">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'home' %}" class="text-light">Home</a></li>
          <li><a href="{% url 'products' %}" class="text-light">Products</a></li>
          <li><a href="{% url 'testimonials' %}" class="text-light">Testimonials</a></li>
          <li><a href="{% url 'wishlist' %}" class="text-light">Wishlist</a></li>
          <li><a href="{% url 'contact_us' %}" class="text-light">Contact Us</a></li>
          <li><a href="https://www.termsfeed.com/live/3d089c88-7a62-4c71-a319-a6eba6d24a04" target="_blank" class="text-light">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="col-12 col-md-4 mb-4 py-4 ">
        <div class="">
          <h5 class=" mc_embed_signup text-uppercase">Stay Updated</h5>
          <form action="https://gmail.us17.list-manage.com/subscribe/post?u=3fca017973c84a3d54521c15c&amp;id=f5845a8da6&amp;f_id=0008c2e1f0" method="post" target="_blank">
              <div class="mc-field-group">
                  <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                  <input type="email" name="EMAIL" class="form-control footer-email mb-3" id="mce-EMAIL" required>
              </div>
              <div class="clear">
                  <input type="submit" name="subscribe" id="mc-subscribe" class="btn-yellow" value="Subscribe">
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr class="bg-light">
  <div class="text-center">
    <p class="mb-0">&copy; The website is for education purpose only </p>
  </div>
</footer>
