{% load static %}
<footer>
    <footer class="bg-dark text-light py-4">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-6 py-4">
            <h5 class="text-uppercase mb-3"><a href="{% url 'contact_us' %}" class="text-light">Contact Us</a></h5>
            <p>Email: support@wellnessnest.com</p>
            <p>Phone: +123 456 7890</p>
            <div class="mb-5">
              <a href="https://www.facebook.com/" class="text-light mr-3"><i class="fab fa-facebook-f"></i></a>
              <a href="https://x.com/?lang=en" class="text-light mr-3"><i class="fab fa-twitter"></i></a>
              <a href="https://www.instagram.com/" class="text-light mr-3"><i class="fab fa-instagram"></i></a>
              <a href="https://www.youtube.com/" class="text-light"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
          <div class="col-md-4 mb-4 py-4 d-flex flex-column ">
            <h5 class="text-uppercase mb-3">Quick Links</h5>
            <ul class="list-unstyled">
              <li><a href="{% url 'home' %}" class="text-light">Home</a></li>
              <li><a href="{% url 'products' %}" class="text-light">Products</a></li>
              <li><a href="{% url 'testimonials' %}" class="text-light">Testimonials</a></li>
            </ul>
          </div>
          <div class="col-md-4 py-4 d-flex flex-column mb-4 ">
            <h5 class=" text-uppercase mb-3">Stay Updated</h5>
            <form action="" method="POST" class="d-flex">
              <input type="email" class="form-control me-2" placeholder="Your email" required>
              <button type="submit" class="btn btn-warning">Subscribe</button>
            </form>
          </div>
        </div>
      </div>
      <hr class="bg-light">
      <div class="text-center">
        <p class="mb-0">&copy; The website is for education purpose only </p>
      </div>
    </footer>
  </footer>