<ul class="navbar-nav text-center">
    <li class="nav-item my-2 d-block d-lg-none d-md-inline">
        <a class="nav-link text-center" href="{% url 'wishlist' %}" style="color: #ffc107;">
            <i class="nav-icon-heart fa-solid fa-lg fa-heart"></i>
        </a>
    </li>

    <!-- My Account Dropdown -->
    <li class="nav-item d-block my-2 d-lg-none">
        <a class="text-black nav-link d-block d-lg-none" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #ffc107;">
            <i class="fa-solid fa-user fa-lg"></i>
            {% if request.user.is_authenticated %}
                    <span class="ml-2">{{ request.user.username }}</span>
            {% endif %}
        </a>
        <div class="dropdown-menu border-0 shadow-sm" aria-labelledby="user-options">
            {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                    <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                {% endif %}
                <a href="{% url 'profile' %}" class="dropdown-item">My profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
            {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
            {% endif %}
        </div>
    </li>

    <!-- Shopping Cart -->
    <li class="nav-item d-block my-2 d-lg-none">
        <a class="{% if grand_total %}text-primary font-weight-bold{% else %}text-dark{% endif %} nav-link d-block" 
            href="{% url 'shopping_bag' %}">
            <div class="">
                <p class="my-0" style="color: #ffc107;">
                    {% if grand_total %}
                    <i class="fa-solid fa-cart-shopping"></i> €{{ grand_total|floatformat:2 }} 
                    {% else %}
                    <i class="fa-solid fa-cart-shopping"></i>€0.00 
                    {% endif %}
                </p>
            </div>
        </a>
    </li>

    <!-- Search Bar -->
    <li class="nav-item w-100 my-2 d-block d-lg-none">
        <a class="text-black nav-link d-block d-lg-none" href="#" id="mobile-search" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <div class="text-center" style="color: #ffc107;">
                <div><i class="fas fa-search fa-lg"></i></div>
                <p class="my-0">Search</p>
            </div>
        </a>
        <div class="dropdown-menu border-0 w-100 p-3 rounded-0 my-0" aria-labelledby="mobile-search">
            <form method="GET" action="{% url 'products' %}">
                <div class="input-group">
                    <input 
                        class="form-control border bg-light rounded-pill search-input" 
                        type="text" 
                        name="search_term" 
                        placeholder="Search our products">
                    <button 
                        class="btn btn-dark rounded-pill ml-2" 
                        type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </li>
</ul>
