

html{
    height:100%;
}

body{
    background: url("/media/hero.jpg")no-repeat center center fixed;
    background-size: cover;
    height:calc(100vh-164px);
    color:#555;
    font-family:'Arima';
    display:flex;
    flex-direction:column;
}
/*header*/
.navbar{
    position:fixed;
    padding:2em;
    height:5em;
}
.nav-link:hover{
    color:orange!important;
}
.logo{
    transform:translateY(-2px);
}

main {
    flex: 1; /* Allow main to take up available space */
}

/* hero section */
.hero-section{
    margin-top:90px;
}
/*footer*/

footer {
    background-color: #343a40; /* Dark background */
    color: #f8f9fa; /* Light text */
  }
  
  footer a {
    color: #ffc107; /* Accent color for links */
  }
  
  footer a:hover {
    color: #f8f9fa; /* Light color on hover */
  }

