{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock head_title %}

{% block inner_content %}
<div class="container-fluid justify-content-center align-items-center flex-column">
  <div class="row">
    <div class="col">
      <h2 class="text-center my-5">
        {% trans "Register" %}
      </h2>
      <hr>
  </div>
  </div>
  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
  <div class="row ">
    <div class="col-12 col-lg-12">
      <form class=" mt-3 signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form | crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>

{% endblock inner_content %}
