{% extends "base.html" %}
{% load static %}
{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="hero-section">
        <h2 class="text-capitalize" text-black> best collections</h2>
        <h1 class="text-uppercase2 py-2 fw-bold text-black">new arrivals</h1>
        <div class="my-5">
            <h4>
                <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3 bg-dark">Shop Now</a>
            </h4>
        </div>
    </div>
</div>

{% endblock %}
