{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <h2 class="text-center my-5"> Your Wishlist </h2>
                <hr>
            </div>
        </div>
        <div class="row">
            {% if wishlist_details %}
            <div class="table-responsive rounded">
                <table class="table table-sm table-borderless">
                    <thead class="text-black">
                        <tr>
                            <th scope="col"> Product Info</th>
                            <th scope="col"></th>
                            <th scope="col">Price</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>

                    {% for item in wishlist_details %}
                    <tr>
                        <td class="p-3 w-25 product-image">
                            {% if item.image %}
                            <img class="img-fluid rounded" src="{{ item.image }}" alt="{{ item.name }}">
                            {% else %}
                            <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.name }}">
                            {% endif %}
                        </td>
                        <td class="py-3">
                            <p class ="my-0"><strong>{{ item.name }}</strong></p>
                            <p class=" my-0 small text-muted">SKU: {{ item.sku|upper }}</p>
                        </td>
                        <td class="py-3">
                            <p class ="my-0">{{ item.price }}</p>
                        </td>
                        <td class="py-3 update-delete-btns">
                            <!-- Remove Button -->
                            <form action="{% url 'remove_from_wishlist' item_id=item.sku %}" method="POST">
                                {% csrf_token %}
                                <button type="submit" class="remove-item btn px-3 py-0">
                                    <small><i class="fas fa-trash-alt"></i></small>
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% else %}
            <p class="text-center">Your wishlist is empty. Start adding some products!</p>
            {% endif %}
        </div>
    </div>
{% endblock %}